@layer base, utils, components;
@import "@webtui/css/base.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/progress.css";
@import "@webtui/plugin-nf";

@layer base {
    :root {
        --font-family: "JetBrains Mono", monospace, "Symbols Nerd Font";
        --font-size: 16px;
        --font-weight-bold: 700;
        --font-weight-normal: 400;

        --fg: #d3c6aa;
        --red: #e67e80;
        --yellow: #dbbc7f;
        --green: #a7c080;
        --blue: #7fbbb3;
        --purple: #d699b6;
        --aqua: #83c092;
        --orange: #e69875;
        --grey0: #7a8478;
        --grey1: #859289;
        --grey2: #9da9a0;
        --bg-dim: #1e2326;
        --bg0: #272e33;
        --bg1: #2e383c;
        --bg2: #374145;
        --bg3: #414b50;
        --bg4: #495156;
        --bg5: #4f5b58;
        --bg-red: #493b40;
        --bg-yellow: #45443c;
        --bg-green: #3c4841;
        --bg-blue: #384b55;
        --bg-purple: #463f48;

        --background0: var(--bg0);
        --background1: var(--bg1);
        --background2: var(--bg2);
        --background3: var(--bg3);
        --foreground0: var(--fg);
        --foreground1: var(--grey1);
        --foreground2: var(--grey2);
    }
}

@layer components {
    /* Progress bar */
    [is-~="progress"] {
        border: 1px solid var(--bg4);
        --progress-max: 10;
        --progress-empty-background: var(--bg3);
        --progress-value-background: var(--green);
    }
    /* List `open tree` */
    ul[marker-~="tree"] {
        li::before {
            content: "├─ ";
        }

        &:not([marker-$="open"]) li:last-of-type::before {
            content: "└─ ";
        }
    }
}
